.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__illustration {
    position: relative;
    max-width: 120%;
    right: -5rem;
    overflow: hidden;
    order: 2;
    @media (min-width: 800px) {
      width: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 1;
    @media (min-width: 800px) {
      display: block;
      padding-left: 10rem;
    }

    &-description {
      text-align: center;
      color: var(--Grayish-Violet);
      font-size: 1rem;
      font-weight: 500;
      max-width: 75%;
      margin: auto 1rem 1.75rem 1rem;
      @media (min-width: 800px) {
        text-align: left;
        margin-left: 0;
        font-size: 1.2rem;
      }
    }
    &-button {
      background-color: var(--Cyan);
      color: white;
      border-style: none;
      padding: 0.75rem 2.75rem;
      border-radius: 2rem;
      font-family: inherit;
      font-weight: 600;
      font-size: 0.9rem;
      cursor: pointer;
      @media (min-width: 800px) {
        font-size: 1.05rem;
      }
    }
  }
}
.shorten-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
  top: 4rem;
  margin: 0 2rem;

  @media (min-width: 800px) {
    margin: 0 10rem;
  }
}
.shorten-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--Dark-Violet);
  background-image: url(./images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 0.5rem;
  padding: 1.5rem 0.25rem;

  @media (min-width: 800px) {
    background-image: url(./images/bg-shorten-desktop.svg);
    background-size: cover;
    flex-direction: row;
    // margin: 0 10rem;
    padding: 2.5rem 3rem;
  }

  &__input {
    font-family: inherit;
    padding: 0.75rem;
    border-style: none;
    border-radius: 4px;
    width: 90%;
    margin-bottom: 1rem;
    outline: none;
    @media (min-width: 800px) {
      margin-bottom: 0;
      width: 80%;
      margin-right: 2rem;
      font-size: 1rem;
    }
  }

  &__button {
    font-family: inherit;
    color: white;
    background-color: var(--Cyan);
    border-style: none;
    width: 90%;
    padding: 0.75rem 0;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 600;
    @media (min-width: 800px) {
      width: 20%;
      font-size: 1rem;
    }
  }
}

.shortened {
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;

  &__link {
    font-size: 0.9rem;
    color: var(--Cyan);
  }

  &__button {
    background-color: var(--Cyan);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    border-style: none;
    border-radius: 4px;
    padding: 0.5rem 4rem;
    margin-top: 1rem;
  }
}
.original-link {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.original-link::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: rgb(228, 228, 228);
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
  top: 2rem;
}
